# SupaCloud Local Dev Environment Defaults

POSTGRES_PASSWORD=postgres
JWT_SECRET=super-secret-jwt-token-with-at-least-32-characters-long
ANON_KEY=your-anon-key
SERVICE_ROLE_KEY=your-service-role-key
MASTER_TOKEN=supacloud-local-master-token
SECRETS_ENCRYPTION_KEY=super-secret-jwt-token-with-at-least-32-characters-long

# Ports
CADDY_HTTP_PORT=8000
CADDY_HTTPS_PORT=8443
POSTGRES_PORT=5432
API_PORT=9090
EDGE_RUNTIME_PORT=9000

# Edge Runtime config
WORKER_POOL_SIZE=2
